.box{
    border: 1px solid black;
}

#navigation{
    /* background-color: #4FC3F7;
  /* border : 1px solid white; */
    /* font-family: 'Righteous', cursive;  */
}

ul{
    margin:auto;
    align-items: center;
}
